<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200">
    <div class="flex items-center justify-between p-4 bg-gray-900 text-white">
      <div>
        <a href="{% url 'index' %} " class="text-xl font-bold">MOVIE MERCADO / MASSE</a>
      </div>
      {% include 'form.html' %}
    </div>
    <nav>
      <!-- Navbar content -->
    </nav>

    <!-- Main content block -->
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
